.socials-page {
    padding: 10px;
}

.socials-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.socials-title{
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 1px solid #ddd;
}